---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Banner from "../../components/bookclub/Banner.svelte";
import BookItem from "../../components/bookclub/BookItem.svelte";
import InterviewFooter from "../../components/interview/InterviewFooter.svelte";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection, getEntry } from "astro:content";

const posts = (await getCollection("bookclub")).sort(
  (a, b) => (b?.data?.startDate?.valueOf() ?? 100) - (a?.data?.endDate?.valueOf() ?? 100)
);
---

<!doctype html>
<html
  lang="en"
  data-is-scrolling-up="true|false"
  data-is-bottom="true|false"
  data-is-top="true|false"
  data-has-scroll="true|false"
>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

    <style>
      main,
      section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      main {
        padding: 1rem;
      }

      section {
        width: 100%;
        max-width: 1000px;
      }

      section * {
        word-break: break-all;
        overflow-wrap: break-word;
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <Banner />
      <section>
        <ul>
          {
            posts.map(async (post) => {
              return (
                <BookItem
                  url={`/bookclub/${post.slug}/`}
                  title={post.data.title}
                  creator={post.data.creator}
                  image={post.data.thumbnailImage}
                  desc={post.data.description}
                  startDate={post.data.startDate}
                  endDate={post.data.endDate}
                />
              );
            })
          }
        </ul>
      </section>
    </main>
    <InterviewFooter />
  </body>
</html>
