---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import SubmitPage from "../../components/bookclub/SubmitPage.svelte";
import InterviewFooter from "../../components/interview/InterviewFooter.svelte";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

const posts = (await getCollection("bookclub")).sort(
  (a, b) => (b?.data?.startDate?.valueOf() ?? 100) - (a?.data?.endDate?.valueOf() ?? 100)
);
---

<!doctype html>
<html
  lang="en"
  data-is-scrolling-up="true|false"
  data-is-bottom="true|false"
  data-is-top="true|false"
  data-has-scroll="true|false"
>
  <head>
    <BaseHead
      title={SITE_TITLE}
      description={SITE_DESCRIPTION}
      image={new URL("https://i.ibb.co/cyNSVR9/book-club-thumbnail.png")}
    />

    <style>
      main,
      section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      section {
        width: 100%;
        max-width: 1000px;
        padding: 1rem;
      }

      section * {
        word-break: break-all;
        overflow-wrap: break-word;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <SubmitPage
          client:load
          postTitle={posts[0].data.title}
          creator={posts[0].data.creator}
          image={posts[0].data.thumbnailImage}
          startDate={posts[0].data.startDate}
          endDate={posts[0].data.endDate}
          pubDate={posts[0].data.pubDate}
          client:load
        />
      </section>
    </main>
    <InterviewFooter />
  </body>
</html>
