---
import { type CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

import "../styles/review.scss";
import BookReportPost from "./BookReportPost.astro";
import InterviewFooter from "../components/interview/InterviewFooter.svelte";

type Props = CollectionEntry<"bookclub">["data"];

const { title, creator, thumbnailImage, description, startDate, endDate, bookReports } =
  Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={title + " - " + creator} />
  </head>

  <body>
    <Header />
    <main>
      <article>
        <div class="hero-image">
          {thumbnailImage && <img width={1020} height={510} src={thumbnailImage} alt="" />}
        </div>

        <hr />

        <div class="prose">
          <div class="title">
            <h3>{title}</h3>

            <h4>Book Reports</h4>
            <ul>
              {
                bookReports && bookReports.length > 0 ? (
                  bookReports.map(
                    (
                      report: {
                        reportTitle: any;
                        reportContent: any;
                        pubDate: any;
                        reader: any;
                        is_best: any;
                        is_funny: any;
                        is_interested: any;
                        is_empathized: any;
                        is_amazed: any;
                      },
                      index: any
                    ) => (
                      <BookReportPost
                        key={index}
                        reportTitle={report.reportTitle}
                        reportContent={report.reportContent}
                        pubDate={report.pubDate}
                        reader={report.reader}
                        is_best={report.is_best}
                        is_funny={report.is_funny}
                        is_interested={report.is_interested}
                        is_empathized={report.is_empathized}
                        is_amazed={report.is_amazed}
                      />
                    )
                  )
                ) : (
                  <p>No book reports available.</p>
                )
              }
            </ul>
          </div>
          <slot />
        </div>

        <div class="share"></div>
      </article>
    </main>
    <InterviewFooter />
  </body>
</html>
