---
import { type CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

import "../styles/bookclub.scss";
import BookReportPost from "./BookReportPost.astro";
import InterviewFooter from "../components/interview/InterviewFooter.svelte";

interface Props {
  postData: CollectionEntry<"bookclub">["data"];
  bookReports: CollectionEntry<"bookreports">["data"];
}

const { postData, bookReports } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={postData.title} description={postData.title + " - " + postData.creator} />
  </head>

  <body>
    <Header />
    <main>
      <article>
        <div class="hero-image">
          {
            postData.thumbnailImage && (
              <img width={1020} height={510} src={postData.thumbnailImage} alt="" />
            )
          }
        </div>

        <hr />

        <div class="prose">
          <div class="title">
            <h3>{postData.title}</h3>

            <h4>Book Reports</h4>
            <ul>
              {
                bookReports && bookReports.length > 0 ? (
                  bookReports.map(
                    (
                      report: {
                        data: {
                          reportTitle: any;
                          reportContent: any;
                          pubDate: any;
                          reader: any;
                        };
                      },
                      index: any
                    ) => (
                      <BookReportPost
                        key={index}
                        reportTitle={report.data.reportTitle}
                        reportContent={report.data.reportContent}
                        pubDate={report.data.pubDate}
                        reader={report.data.reader}
                      />
                    )
                  )
                ) : (
                  <p>No book reports available.</p>
                )
              }
            </ul>
          </div>
          <slot />
        </div>

        <div class="share"></div>
      </article>
    </main>
    <InterviewFooter />
  </body>
</html>
