---
import { getEntry, type CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import InterviewFooter from '../components/interview/InterviewFooter.svelte';
import ShareSnsButton from '../components/interview/ShareSnsButtons.svelte';

import '../styles/interview.scss';

type Props = CollectionEntry<'interview'>['data'];

const { subject, title, description, pubDate, updatedDate, thumbnailImage, titleImage, target:t, tags } = Astro.props;
const { data:target } = t ? await getEntry(t) : {data:undefined};
---

<html lang="en">
	<head>
		<BaseHead title={`${subject} - ${title}`} description={subject} />

        <style is:global>
            article.interview h2, 
            article.interview h5, 
            article.interview h4, 
            article.interview p,
            article.interview figure,
            article.interview ul {
                transition: 1200ms;
                opacity: 0;
            }

             article.interview h2.fade-in, 
            article.interview h5.fade-in, 
            article.interview h4.fade-in,
            article.interview p.fade-in,
            article.interview figure.fade-in,
             article.interview ul.fade-in {
                opacity: 1;
            }
        </style>
        <script>
            const observer = new IntersectionObserver(
            (entries, observer) => {
                entries.forEach((entry) => {
                if (entry.isIntersecting) {
                    entry.target.classList.add("fade-in");
                } else {
                    // 스크롤 시 계속 보이게끔 하려면
                    // entry.target.classList.remove("fade-in");
                }
                });
            },
                { threshold: 0.05 }
            );

            const targetElements = document.querySelectorAll("*");
                targetElements.forEach((element) => {
                observer.observe(element);
            });
        </script>
	</head>

	<body>
		<Header />
		<main>
			<article class="interview">
				<div class="prose">
                    <div class="gradient-background">
                        <section class="title">
                                <div class="post_title">
                                    <h2>
                                        <span>{subject}</span> <b>{title}</b>
                                    </h2>
                                    <h4>여성서사 아카이브 프로젝트 Warchive</h4>
                                </div>

                                <div class="border"></div>

                                <div class="article_title">
                                    {titleImage && <img src={titleImage} alt="" />}
                                    <div>
                                        {description?.split(`\n`)?.map((des) => <p>{des}</p>)}
                                    </div>
                                </div>
                        </section>
                    </div>

                    <section class="content">
                        <slot />
                    </section>

                    

                      <footer>
                            <div class="team-infos">
                                {target &&
                             <div class="team-info">
                                <div>
                                <h5>{target.name}</h5>
                                <div class="sns-btns">
                                    {target.contacts.email &&
                                        <a href={`mailto:${target.contacts.email}`} target="_blank">
                                            <i class="fa-solid fa-envelope"></i>
                                        </a>
                                    }

                                    {target.contacts.instagram &&
                                        <a href={target.contacts.instagram} target="_blank">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                    }

                                    {target.contacts.twitter &&
                                        <a href={target.contacts.twitter} target="_blank">
                                            <i class="fa-brands fa-x-twitter"></i>
                                        </a>
                                    }

                                    {target.contacts.site &&
                                        <a href={target.contacts.site} target="_blank">
                                            <i class="fa-solid fa-globe"></i>
                                        </a>
                                    }
                                </div>
                                <p>
                                    {
                                        target.about.map((a:any) => {
                                            return (
                                                <>
                                                    <a href={a.url} target="_blank">{a.text}</a>
                                                    <br />
                                                </>
                                            )
                                        })
                                    }
                                </p>
                                </div>
                            </div>    
                            }
                           

                            <div class="team-info warchive">
                                <div>
                                <h5>프로젝트 와카이브</h5>
                                <div class="sns-btns">
                                    <a href="mailto:team.warchive@gmail.com" target="_blank">
                                    <i class="fa-solid fa-envelope"></i>
                                    </a>
                                    <a
                                    href="https://www.instagram.com/womynarchive"
                                    target="_blank"
                                    >
                                    <i class="fa-brands fa-instagram"></i>
                                    </a>
                                    <a href="https://twitter.com/Womynarchive" target="_blank">
                                    <i class="fa-brands fa-x-twitter"></i>
                                    </a>
                                    <a href="https://www.womynarchive.com" target="_blank">
                                    <i class="fa-solid fa-globe"></i>
                                    </a>
                                </div>
                                <p>
                                    2020년 여성서사 아카이빙 사이트 오픈
                                    <br />
                                    '여성에게는 여성의 이야기가 필요합니다' 를 캐치프레이즈로
                                    <br />
                                    다양한 여성서사를 발굴, 기록하고 있다.
                                </p>
                                </div>
                            </div>
                            </div>

                            <ShareSnsButton client:visible shareTitle="인터뷰 공유하기" url={Astro.url}
                                title={subject}
                                description={title}
                                hashtags={`와카이브,${tags?.join(',')}`}
                                shareImage="https://i.ibb.co/5GhLscr/article-title.png"
                            />
                        </footer>
				</div>
			</article>
		</main>
		<InterviewFooter />
</html>
